/* src/styles/Hero.css */
.hero {
    padding: 3rem 2rem;
    background: #e0f7fa;
    text-align: center;
  }
  
  .profile-picture {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    margin-bottom: 1rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .hero p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }
  